*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Open-sans, sans-serif;
    background-color: rgb(0, 0, 60);
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
}

.product-basket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.products {
    font-size: 30px;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: none;
    border: none;
}

.products:active {
    transform: scale(0.95);
}

.basket {
    background: none;
    border-radius: 100%;
    overflow: hidden;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.basket:active {
    transform: scale(0.95);
}

.btn-basket {
    width: 50px;
    height: 50px;
}

.main-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 40px 20px;
    margin: 30px 0;
}

div {
    border: 1px solid rgb(166, 166, 166);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    height: 370px;
}

.product-img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

h2,
p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgb(0, 0, 60);
    margin-bottom: 10px;
}

h2 {
    -webkit-line-clamp: 2;
    text-transform: uppercase;
    font-size: 16px;
}

p {
    -webkit-line-clamp: 4;
    font-size: 14px;
    margin-top: 5px;
}

.for-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 60);
}

.btn {
    color: rgb(0, 0, 60);
    border: 1px solid rgb(0, 0, 60);
    padding: 3px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

/* basket */

.for-bascet {
    height: auto;
}

.inner-bascet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.for-buttons {
    display: flex;
    gap: 0 5px;
    border: 1px solid rgb(0, 0, 60);
    border-radius: 10px;
    overflow: hidden;
}

.backet-product-img {
    width: 100px;
    height: 100px;
}

.product-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-transform: uppercase;
    overflow: hidden;
    width: 400px;
    font-size: 15px;
    color: rgb(0, 0, 60);
}

.plus,
.minus {
    padding: 0 8px;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 60);
    transition: color 0.3s, background-color 0.3s;
}

.plus:hover,
.minus:hover {
    background-color: rgb(0, 0, 60);
    color: #fff;
}

.plus {
    border-left: 1px solid rgb(0, 0, 60);
}

.minus {
    border-right: 1px solid rgb(0, 0, 60);
    padding: 0 10px;
}

.count {
    font-weight: bold;
    padding: 0 4px;
}

.price-count {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 60);
}

.delete-image {
    width: 50px;
    height: 50px;
}

.delete-btn {
    background: none;
    border: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn:active {
    transform: scale(0.95);
}

/* total-price */
.total-price {
    display: block;
    text-align: right;
    margin-top: 20px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 22px;
    color: rgb(0, 0, 60);
}